:root {
    --headerHeight: 60px;
}

.header {
    height: var(--headerHeight);
}

.dash_height {
    height: calc(100vh - var(--headerHeight)) !important;
}

.scrollbar-small::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.scrollbar-small::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c1c1c1;
}

.clickable-text {
    color: darkblue;
    cursor: pointer;
}

.clickable-text:hover {
    text-decoration: underline;
    color: blue;
}

.g-x-4\.5 {
    --bs-gutter-x: 2.5rem
}

.accordion-button {
    padding: 0.8rem 1rem
}

.mh-250 {
    min-height: 250px;
}

@media (max-width: 576px) {
    .row-height-mobile {
        height: 50vh;
    }
}

@media (min-width: 577px) {
    .row-height-non-mobile {
        height: 46.8vh;
        padding-top: 0.5rem;
    }
}