{:docs {:enabled? true}
 :auth      {:jws-secret "example_secret"
             :users-file "users-example.edn"}
 :telemetry {:elasticsearch-indices {:rockblock "rockblock-data"
                                     :cubesat   "cubesat-normal-report"
                                     :deploy    "cubesat-deploy-report"
                                     :image     "image-fragment-info"
                                     :cycle     "imu-cycle-report"}}
 :database  {:elasticsearch {:host        "http://localhost"
                             :port        9200
                             :conn-config {:content-type :json
                                           :basic-auth   ["<USER>" "<PASSWORD>"]}}
             :image         {:root "cubesat_images"}}
 :control   {:elasticsearch-indices {:command-log "commands"}
             :rockblock {:imei       "<IMEI>"
                         :basic-auth ["<EMAIL>" "<PASSWORD>"]}}}