[Unit]
Description=Ground Station Frontend UI Service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=npm start
WorkingDirectory=/home/alpha-gs/Alpha-Cubesat-Ground-Python/cubesat-frontend
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
